.App{
  margin-top: 40px;
  height: 100%;
  display: grid;
  justify-content: center;
  place-items: center;
  background-color: #ebf5fc; 
}

body{
  background-color: #ebf5fc;
}

.header{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color:#6a9bd8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#emoji{
  justify-content: center;
  height: 45px;
  font-size: 17px;
  width: 150px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),3px 3px 5px rgba(0, 0, 0, 0.1);
  padding:10px 10px 10px 10px;
}

#input{
  justify-content: center;
  height: 45px;
  font-size: 17px;
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
}

#input[placeholder]{
  padding-left: 20px;
}

#input:focus{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  outline: none;
}


#btn{
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  width: 120px;
  margin-top: -30px;
  background-color: #ebf5fc;
  color: #6a9bd8;
  border:none;
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
  
}

#btn:hover{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#task{
  
  border-radius: 10px;
  text-decoration: none;
  list-style-type: none;  
  height: 50px;
  width: 610px;
  padding-top: 10px;
  margin-top: 20px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),3px 3px 5px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-size: 20px;
  margin-left: -0px;
  background-color: white;
  color: #6a9bd8;

}

ul:focus{
  color: red;
  text-decoration: line-through;
}

#task:hover{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#close{
  border-radius: 10px;
  border: none;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-top:-2px;
  margin-right:20px ;
  float: right;
  cursor: pointer;
}

#close:hover{
  background-color:#eee;

}


input[type=checkbox] {
  border-radius: 20px;
  border: 1px solid #e03232;
  outline: 1px solid #eee;
  background-color: rgb(69, 219, 55);
  height: 23px;
  width: 23px;
  margin-top: 2px;
  margin-right:10px ;
  float: right;
  cursor: pointer;
  transition: background 1s, border-color 1s, box-shadow .5s;
}

input[type="checkbox"]:checked {
  border-radius: 20px;
  border: 1px solid #e03232;
  outline: 1px solid #eee;
  background-color: rgb(69, 219, 55);
  height: 23px;
  width: 23px;
  margin-top: 2px;
  margin-right:10px ;
  float: right;
  cursor: pointer;
  transition: background 1s, border-color 1s, box-shadow .5s;
}

.strike{
  background-color: #c2e4fc;
  font-size: 30px;
}


/* ACCOUNT STYLES */

.account{
  height: 70px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

.account:hover{
  opacity: .5;
}

#pop-btn{
  height: 50px;
  width: 100px;
}

#name{
  font-size: 25px;
  margin-top: 10px;
}

#email{
  margin-top: -20px;
  color: grey;
}

#filter-btn{
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  background-color: #ebf5fc;
  color: #6a9bd8;
  border:none;
  border-radius: 100px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
  
}

#filter-btn:hover{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#filter-btn:focus{
  background-color: white;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #6a9bd8;
}


.filterbtns{
  margin-top: 30px;
  margin-bottom: 20px;
}

.taskclass{
  text-decoration: line-through;
}

.notification-btn{
  height: 70px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;

  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top:-70px;
  margin-left: 150px;
}

.notification-btn:hover{
  opacity: .5;
}
